*,
 ::before,
 ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
}

button {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 20px;
    margin-top: 0px;
}

.blue {
    color: #0065FC;
}

.lightgray {
    color: lightgray;
}

.fond-gris-arrondis {
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 5px;
    margin: 5px;
}


/* --------- header --------- */

.header {
    padding-right: 30px;
    padding-left: 10%;
    padding-top: 0;
}

@media screen and (max-width: 450px) {
    .header {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.logo-reservia {
    width: 4%;
    min-width: 100px;
}

.menu-bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}

.menu-item {
    margin-left: 2px;
    float: left;
    padding: 20px;
}

.menu-item a {
    text-decoration: none;
}

.link-item a:link {
    color: black;
}

.link-item a:visited {
    color: black;
}

.link-item a:hover {
    color: #0065FC;
    font-weight: bold;
}

.link-item a:active {
    color: #0065FC;
}

.bold {
    font-weight: bold;
}

.on-click-style {
    border-top: 2px solid #0065FC;
}

#header-mobile {
    display: none;
}

.inscription-mobile {
    text-decoration: none;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 450px) {
    .menu-bar {
        width: 100%;
        margin-bottom: 10px;
    }
    .menu-item {
        width: 47%;
        text-align: center;
        font-size: 15px;
        border-bottom: 2px solid lightgray;
    }
    .on-click-style {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    #header-mobile {
        display: contents;
    }
    #header-pc-tablet {
        display: none;
    }
}


/* --------- container --------- */

.container {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 450px) {
    .container {
        width: 100%;
    }
}


/* --------- zone recherche --------- */

#zone-recherche {
    margin-top: 20px;
}

.input-container {
    position: relative;
    width: 500px;
}

.input-icon {
    background-color: #F2F2F2;
    padding: 10px 15px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.input-search {
    font-size: 15px;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 10px 15px;
    width: 250px;
}

.input-button {
    font-size: 15px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px 15px;
}

.search-mobile {
    display: none;
}

input[type="text"],
input[type="password"] {
    padding-left: 70px;
}

@media screen and (max-width: 450px) {
    .input-container {
        width: 300px;
    }
    .input-search {
        font-size: 15px;
        border-left: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        border-right: #F2F2F2 1px solid;
        border-radius: 0 10px 10px 0;
        padding: 10px 15px;
        width: 200px;
    }
    .input-button {
        font-size: 15px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 490px) {
    .search-mobile {
        display: contents;
    }
    .search-pc-tablet {
        display: none;
    }
}


/* --------- zone filtre --------- */

#zone-filtres h2 {
    font-size: 20px;
}

.button-filter {
    background-color: white;
    border-radius: 40px;
    border: 1px solid lightgray;
    padding: 0 30px 0 0;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-filter:hover {
    background-color: #0065FC;
}

.icone-filtre {
    color: #0065FC;
    height: 40px;
    width: 40px;
    background-color: rgb(222, 236, 255);
    border-radius: 40px;
    font-size: 15px;
    padding-top: 10px;
}

#zone-filtres p {
    font-size: 12px;
}


/* --------- container hebergement et les plus populaire --------- */

#zone-herbergement-et-les-plus-populaire {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* pour le responsive */
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 50px;
}

@media screen and (max-width: 450px) {
    #zone-herbergement-et-les-plus-populaire {
        flex-direction: column-reverse;
    }
}


/* ----- zone hebergement ----- */

#zone-hebergements {
    width: 65%;
    min-width: 350px;
    padding: 30px;
    margin-left: 0;
    background-color: #F2F2F2;
    border-radius: 1rem;
}

@media screen and (max-width: 450px) {
    #zone-hebergements {
        padding: 20px;
        width: 100%;
        margin-left: 0;
        background-color: white;
    }
}

@media screen and (min-width: 450px) and (max-width: 1300px) {
    #zone-hebergements {
        width: 100%;
        padding: 20px;
    }
}

#zone-hebergements img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    /* ne deforme pas l'image */
    object-position: 50% 70%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.zone-cellule-herbergement {
    width: 97%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
}

.cellule-hebergement {
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    width: 100%;
    height: 190px;
    border-radius: 1rem;
    padding: 5px;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .zone-cellule-herbergement {
        width: 97%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 30%);
        grid-gap: 20px;
    }
    .cellule-hebergement {
        min-width: 180px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .zone-cellule-herbergement {
        width: 97%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 45%);
        grid-gap: 10px;
    }
    .cellule-hebergement {
        min-width: 180px;
    }
}

@media screen and (max-width: 600px) {
    .zone-cellule-herbergement {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-gap: 10px;
    }
    .cellule-hebergement {
        width: 100%;
    }
}

.cellule-hebergement h3 {
    font-size: 15px;
    margin: 1px;
    margin-bottom: 3px;
}

.cellule-hebergement p,
i {
    font-size: 13px;
    margin: 1px;
}


/*----- zone les plus populaires ----- */

#zone-les-plus-populaire {
    width: 30%;
    min-width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    #zone-les-plus-populaire {
        padding: 20px;
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (min-width: 450px) and (max-width: 1100px) {
    #zone-les-plus-populaire {
        width: 100%;
        padding: 20px;
    }
}

#zone-les-plus-populaire img {
    width: 40%;
    height: 125px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#zone-titre-les-plus-populaires {
    display: flex;
    justify-content: space-between;
}

.zone-cellule-herbergement-populaire {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cellule-hebergement-populaire {
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    width: 100%;
    border-radius: 1rem;
    padding: 5px;
    margin-bottom: 25px;
    height: 135px;
    cursor: pointer;
}

.img-hebergement-populaire {
    float: left;
    margin-right: 20px;
}

.texte-hebergement-populaire {
    display: inline;
    font-size: 13px;
}


/* --------- zone activite --------- */

#zone-activites {
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
}


/* ----- block d'activites ----- */

.blocks-activite {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
    height: auto;
    margin: 10px auto;
}

@media screen and (min-width: 450px) and (max-width: 1100px) {
    .blocks-activite {
        width: 100%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, 45%);
        height: auto;
        margin: 10px auto;
    }
}

@media screen and (min-width: 1300px) {
    .blocks-activite {
        width: 100%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, 23%);
        height: auto;
        margin: 10px auto;
    }
}

.blocks-activite h4 {
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 0;
    font-size: 15px;
}

.block-activite-1 {
    max-height: 450px;
    cursor: pointer;
}

.block-activite-2 {
    max-height: 450px;
    cursor: pointer;
}

.block-activite-3 {
    max-height: 450px;
    cursor: pointer;
}

.block-activite-4 {
    max-height: 450px;
    cursor: pointer;
}

.coins-arrondis {
    box-shadow: 0 0 10px lightgray;
    border-radius: 1rem;
}

.cellule-activite-espace-bottom {
    margin-bottom: 55px;
}

.img-activite-principale {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* ne deforme pas l'image */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.img-activite-secondaire-grande {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* ne deforme pas l'image */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.img-activite-secondaire-petite {
    width: 100%;
    height: 100px;
    object-fit: cover;
    /* ne deforme pas l'image */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media screen and (max-width: 450px) {
    .img-activite-principale {
        height: 150px;
    }
    .img-activite-secondaire-grande {
        height: 150px;
    }
    .img-activite-secondaire-petite {
        height: 150px;
    }
    .cellule-activite-espace-bottom {
        margin-bottom: 0px;
    }
}


/* --------- footer --------- */

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 20%;
    padding-left: 5%;
}

@media screen and (max-width: 450px) {
    footer {
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

footer li {
    margin-bottom: 10px;
}